<div class="container-fluid vh-100 min-vw-100 d-flex align-items-center justify-content-center bg-info bg-opacity-50">
  <form (ngSubmit)="login()">
    <div class="container m-5 p-5 border rounded bg-primary bg-opacity-50 text-white">
      <h1 class="text-center">Bienvenido</h1>
      <div class="row justify-content-md-center">
        <div class="mb-3">
          <label for="inputEmail" class="form-label">Usuario</label>
          <input type="email" id="inputEmail" placeholder="Ingrese su usuario" class="form-control" [(ngModel)]="username" name="username">
        </div>
      </div>
      <div class="row">
        <div class="mb-3">
          <label for="inputPssword" class="form-label">Password</label>
          <input type="password" id="inputPssword" placeholder="Ingrese su contraseña" class="form-control" [(ngModel)]="password" name="password">
        </div>
        <button class="btn btn-primary">Ingresar</button>
      </div>
    </div>
  </form>
</div>
